Babel==2.7.0
django-positions==0.6.0
Django>=3.0,<=3.1
django-filter==2.2.0
djangorestframework==3.10.3
isort==4.3.21
mysqlclient==1.4.4
Markdown==3.1.1
Pillow==6.2.0
pytz==2019.2
sqlparse==0.3.0
reportlab==3.5.23
qrcode==6.1
