{% extends "base.html" %}
{% load reservation %}

{% block content %}

    {% if store_settings.gallery_is_public or request.user.is_superuser %}
        {% if not store_settings.gallery_is_public %}
            <div class="alert alert-warning" role="alert">
                The gallery is only visible to superusers.
            </div>
        {% endif %}

        <div class="row mb-3" data-masonry='{"percentPosition": true }'>
            {% for gallery_item in gallery_images %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="{{ gallery_item.image.url }}"
                             class="card-img-top"
                             alt="{{ gallery_item.alt_text }}"
                             title="{{ gallery_item.alt_text }}"
                        >
                        <div class="card-body">
                            {% if gallery_item.variation %}
                                <h5 class="card-title">{{ gallery_item.variation.product }}
                                    <span class="badge bg-secondary float-right">
          {{ gallery_item.variation.product.price|as_currency }}
        </span>
                                </h5>
                            {% endif %}
                            {% if gallery_item.title %}
                                <h6 class="card-subtitle text-muted">{{ gallery_item.title }}</h6>
                            {% endif %}
                            {% if gallery_item.caption %}
                                <p class="card-text mt-2">{{ gallery_item.caption }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>
            The gallery is currently not available.
        </p>
    {% endif %}

    <script>
        window.addEventListener('load', function () {
            const msnry = new Masonry('[data-masonry]', {
                percentPosition: true
            });
            msnry.layout();
        });
    </script>
{% endblock %}

