{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block thetitle %}{% endblock %}</title>
  <link href="{% static "/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 34em) {
    .card-columns {
        column-count: 1;
    }
}
@media (min-width: 48em) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 62em) {
    .card-columns {
        column-count: 3;
    }
}
  </style>
{% block head %}

{% endblock %}
</head>
<body> {#class="bg-dark text-white"> #}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <a class="navbar-brand" href="#">c3foc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reservationapplication' %}">Apply for Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{% url 'productconfig' %}">Product Config</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{% url 'reservationadministration' %}">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:login' %}?next=/">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<main role="main" class="container">

{% if messages %}
  {% for message in messages %}
  <div class="{{ message.tags }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}

{% block content %}

<div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

{% endblock %}

</main>
<script src="{% static "/jquery/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>
