{% load reservation %}
{% load static %}
{% load product %}

{% spaceless %}
{% for groupentry in product_availabilities %}
    <h1 class="title">{{ groupentry.product_group.name}}</h1>
    {% if groupentry.product_group.description %}
        <div class="center">
            {{ groupentry.product_group.description | safe }}
        </div>
    {% endif %}

    {% include 'dashboard_legend.html' %}

    <div class="grid-sizer">
        <div class="grid-background">
            {% for entry in groupentry.products %}
                <div class="grid-container product">
                    <h2>{{ entry.product.name }}</h2>
                    {% if entry.image %}
                        <a class="product-image" href="{% url 'gallery' entry.product.id %}">
                            <img src="{{ entry.image.image.url  }}" />
                            {% if entry.image_count_more %}
                                <div class="product-image-count-more">+{{ entry.image_count_more }}</div>
                            {% endif %}
                        </a>
                    {% else %}
                        <div class="product-image">
                            <img src="{% static '/tshirt-small.svg' %}" />
                        </div>
                    {% endif %}

                    <div class="product-availabilities">
                    {% for group in entry.sizegroups %}
                        <h3>{{ group.sizegroup.name }}</h3>
                        <ul class="product-availability-tags">
                        {% for variation in group.variations %}
                            <li title="{{ entry.product.name }} in {{ group.sizegroup.name }} size {{ variation.size.name }} is {{ variation.availability }}">
                                <{% if variation.availability == "sold out" %}del{% else %}span{% endif %} class="product-availability-tag {{variation.availability|availability_class}}{% if variation.size.name|length >= 4 or "/" in variation.size.name %} small{% endif %}">
                                    {{variation.size.name}}
                                    <span class="visually-hidden">{{variation.availability}}</span>
                                </{% if variation.availability == "sold out" %}del{% else %}span{% endif %}>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endspaceless %}
