{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1 class="title">Stats</h1>

    <h2>Stock and sale rate</h2>
    <div id="sale_rate_chart_container"></div>

    <h2>Availability of items</h2>
    <div id="availability_chart_container"></div>

    {{ chart_data|json_script:"chart_data" }}

    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/xrange.js"></script>
    <script type="text/javascript" src="{% static "/hagrid-stats.js" %}"></script>
{% endblock %}
