
{% extends "base.html" %}

{% block content %}

<h1>Variation Availability Events</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Timestamp</th>
      <th scope="col">Variation</th>
      <th scope="col">old</th>
      <th scope="col">new</th>
    </tr>
  </thead>
  <tbody>
    {% for event in change_events %}
    <tr>
      <td>{{ event.datetime|date:'Y-m-d H:i:s' }}</td>
      <td>{{ event.variation }}</td>
      <td>{{ event.old_state }}</td>
      <td>{{ event.new_state }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
