<div class="fieldWrapper">
  {{ field.errors }}
  Availability:
  <div>
      {{ field.0.tag }}
    <label class="btn btn-outline-success btn-availability" for="{{ field.0.id_for_label }}">
      <span class="sr-only">{{ field.0.choice_label }}</span>
    </label>
      {{ field.1.tag }}
    <label class="btn btn-outline-warning btn-availability" for="{{ field.1.id_for_label }}">
      <span class="sr-only">{{ field.1.choice_label }}</span>
    </label>
      {{ field.2.tag }}
    <label class="btn btn-outline-danger btn-availability" for="{{ field.2.id_for_label }}">
      <span class="sr-only">{{ field.2.choice_label }}</span>
    </label>
  </div>
</div>
