{% extends "base.html" %}

{% load product %}

{% block content %}

<label for="show-explanation" class="btn btn-secondary btn-sm"  role="button" style="float: right;">
    Toggle explanation
</label>

<h1>Counting items</h1>

<input type="checkbox" id="show-explanation" class="toggle-visibility-checkbox" />
<div>
    <p>Each variation is listed here with information that is relevant to keeping count:</p>
    <ul>
        <li><b>Product</b>: Click it to go to the operator product count page.</li>
        <li><b>Stock</b>: How many items were last counted, out of total for sale.</li>
        <li><b>Counted</b>: When the item was counted, in "event time".</li>
        <li><b>Sales per hour</b>: Sale rate, based on the initial amount, last item count, and count date.</li>
        <li><b>Est. count</b>: How many items are there now, based on sale rate. Assumes constant sale rate (linear extrapolation).</li>
        <li><b>Status</b>: Extra status information.
        <ul>
            <li>Item counting prio may be <span class="color-yellow">bumped</span> to count it sooner.</li>
            <li>Item may be <span class="color-green">assigned</span> to somebody for counting (usually reserved for 5 minutes or until rejected).</li>
            <li>Item may be <span class="color-red">rejected</span> (with reason) by counter, which removes it from counting queue for 15 minutes.</li>
        </ul></li>
    </ul>

    <p>The priority <b>score</b> is computed from several components, which you can see by hovering the score. A higher
    score means count sooner. A score of 50% or above is recommended for counting, a score of 100% or above is considered urgent.</p>

    <p>The values in the table that most contribute to the score are highlighted in red.</p>

    <p>You can <b>bump</b> item counting priority manually to count it sooner. Click the + button.</p>
</div>

<table class="hagrid-table priorities-table table-sticky-head">
    <thead>
        <tr>
            <th>Score</th>
            <th>Product</th>
            <th>Sizegroup</th>
            <th>Size</th>
            <th>Stock</th>
            <th>Counted</th>
            <th>Sales per hour</th>
            <th>Est. count</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
{% for priority in priorities%}
    <tr>
        <td class="hagrid-has-tooltip">
            <span class="color-{% if priority.total > 1 %}red{% elif priority.total > 0.5 %}yellow{% else %}green{%endif %}">
                {{ priority.total|priority_score }}
            </span>
            <div class="hagrid-tooltip">
                <div class="scores-tooltip-table">
                {% for key, value in priority.scores.items|dictsortreversed:1 %}
                    <b>{{key}}</b>
                    <span>{{value|priority_score}}</span>
                {% endfor %}
                </div>
            </div>
        </td>
        <td><a href="{% url 'variation_count_config' priority.variation.product.id %}">{{ priority.variation.product.name }}</a></td>
        <td>{{ priority.variation.size.group.name }}</td>
        <td>{{ priority.variation.size.name }}</td>

        <td{% if priority.scores.running_low > 0.5 or priority.highest_reason == 'missing_count' %} class="error"{% endif %}>
            {% if priority.variation.count == None %}
                n/a
            {% else %}
                {{ priority.variation.count }}
                / {{ priority.variation.initial_amount }}
            {% endif %}
        </td>

        <td{% if priority.scores.outdated_count > 0.5 %} class="error"{% endif %}>
            {{ priority.info.count_age|seconds_to_duration }}
        </td>

        <td>{{ priority.info.sale_rate|floatformat:1 }}</td>
        <td{% if priority.scores.running_low_estimated > 0.5 %} class="error"{% endif %}>
            {{ priority.info.estimated_count|floatformat:0 }}
        </td>
        <td>
            {% if priority.variation.is_count_reserved %}
                <span class="color-green">Assigned</span>
            {% endif %}
            {% if priority.variation.count_prio_bumped %}
                <span class="color-yellow">Bumped</span>
            {% endif %}
            {% if priority.variation.is_count_disabled %}
                <span class="color-red">{% if priority.variation.count_disabled_reason %}{{ priority.variation.count_disabled_reason }}{% else %}Disabled{% endif %}</span>
            {% endif %}
        </td>
        <td class="table-buttons">
            <form method="post">
                {% csrf_token %}
                {{ priority.form.variation }}
                {% if priority.variation.count_prio_bumped %}
                    <button class="color-red" name="{{ priority.form.action.html_name  }}" value="unbump" type="submit" title="Un-bump counting priority">-</button>
                {% else %}
                    <button class="color-green" name="{{ priority.form.action.html_name }}" value="bump" type="submit" title="Bump counting priority">+</button>
                {% endif %}
                {% if priority.variation.is_count_disabled %}
                    <button class="color-green" name="{{ priority.form.action.html_name }}" value="clear_disabled" type="submit" title="Remove reason for not counting">Go!</button>
                {% endif %}
            </form>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
