{% extends "base.html" %}

{% load product %}

{% block content %}

<h1>Counting items</h1>

<table class="hagrid-table priorities-table table-sticky-head">
    <thead>
        <tr>
            <th>Score</th>
            <th>Product</th>
            <th>Sizegroup</th>
            <th>Size</th>
            <th>Stock</th>
            <th>Counted</th>
            <th>Sales per hour</th>
            <th>Est. count</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for priority in priorities%}
    <tr>
        <td class="hagrid-has-tooltip">
            <span class="color-{% if priority.total > 1 %}red{% elif priority.total > 0.5 %}yellow{% else %}green{%endif %}">
                {{ priority.total|priority_score }}
            </span>
            <div class="hagrid-tooltip">
                <div class="scores-tooltip-table">
                {% for key, value in priority.scores.items|dictsortreversed:1 %}
                    <b>{{key}}</b>
                    <span>{{value|priority_score}}</span>
                {% endfor %}
                </div>
            </div>
        </td>
        <td>{{ priority.variation.product.name }}</td>
        <td>{{ priority.variation.size.group.name }}</td>
        <td>{{ priority.variation.size.name }}</td>

        <td{% if priority.scores.running_low > 0.5 or priority.highest_reason == 'missing_count' %} class="error"{% endif %}>
            {% if priority.variation.count == None %}
                n/a
            {% else %}
                {{ priority.variation.count }}
                / {{ priority.variation.initial_amount }}
            {% endif %}
        </td>

        <td{% if priority.scores.outdated_count > 0.5 %} class="error"{% endif %}>
            {{ priority.info.count_age|seconds_to_duration }}
        </td>

        <td>{{ priority.info.sale_rate|floatformat:1 }}</td>
        <td{% if priority.scores.running_low_estimated > 0.5 %} class="error"{% endif %}>
            {{ priority.info.estimated_count|floatformat:0 }}
        </td>
        <td>
            {% if priority.variation.is_count_reserved %}
                <span class="color-green">Assigned</span>
            {% endif %}
            {% if priority.variation.count_prio_bumped %}
                <span class="color-yellow">Bumped</span>
            {% endif %}
            {% if priority.variation.is_count_disabled %}
                <span class="color-red">{% if priority.variation.count_disabled_reason %}{{ priority.variation.count_disabled_reason }}{% else %}Disabled{% endif %}</span>
            {% endif %}
        </td>
        <td class="table-buttons">
            <form method="post">
                {% csrf_token %}
                {{ priority.form.variation }}
                {% if priority.variation.count_prio_bumped %}
                    <button class="color-red" name="{{ priority.form.action.html_name  }}" value="unbump" type="submit" title="Un-bump counting priority">-</button>
                {% else %}
                    <button class="color-green" name="{{ priority.form.action.html_name }}" value="bump" type="submit" title="Bump counting priority">+</button>
                {% endif %}
                {% if priority.variation.is_count_disabled %}
                    <button class="color-green" name="{{ priority.form.action.html_name }}" value="clear_disabled" type="submit" title="Remove reason for not counting">Go!</button>
                {% endif %}
            </form>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

<h2>Mismatched variations</h2>

{% endblock %}
