{% extends "base.html" %}

{% block content %}

    <h1>Edit reservation part</h1>

    <form method="post">
        {% csrf_token %}

        {% for field in part_form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}

        {% if unoffered_events %}
            Products of the following events cannot be included in reservations:
            {{ unoffered_events|join:", " }}
        {% endif %}

        {% for table in variation_tables %}
            {% include "product_table.html" with table=table %}
        {% endfor %}
        <input class="btn btn-lg btn-primary mt-3 d-block" type="submit" value="Save"/>
    </form>

    <script>
        function markNumberInputs() {
            for (let input of document.querySelectorAll(".variationcounthighlight")) {
                const td = input.closest("td");
                if (td) td.classList.toggle("bg-primary", input.value > 0);
            }
        }

        setInterval(markNumberInputs, 100);

        document.addEventListener('DOMContentLoaded', () => {
            const tooltipTriggerList = [].slice.call(
                document.querySelectorAll('[data-bs-toggle="tooltip"]')
            );
            tooltipTriggerList.forEach(el => {
                new bootstrap.Tooltip(el);
            });
        });
    </script>

{% endblock %}

