
{% extends "base.html" %}

{% block head %}
<style>
.reservation-form .form-group label {
  clear: left;
  width: 120px;
  text-align: left;
}
</style>
{% endblock %}

{% block content %}

<h2>Apply for Reservation</h2>

<div class="row">
  <div class="col-sm">
    <p>
      Many teams are busy working on their area of expertise. To make their life and ours easier, they can reserve merch to pick it up later. If you want to do that for your team, please provide contact information through the form below.
    </p>
  </div>
  <div class="col-sm">
    <p>
      Here is an incomplete list of teams which we pre-pack some merchandise for.
    </p>
    <ul>
      <li>LOC, POC, VOC, BOC, AFOC, ...</li>
      <li>Internetmanufaktur, Infodesk, Heaven, ...</li>
      <li>PL, CERT, c3auti, Kids Space, c3gelb, ...</li>
    </ul>
  </div>
</div>

{% if store_settings.reservations_enabled %}
  <form method="post" class="reservation-form">
    {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
        </div>
      {% endfor %}
    <input class="btn btn-lg btn-primary" type="submit" value="Send"/>
  </form>
{% else %}
<div class="alert alert-primary" role="alert">
  Reservations are disabled at the moment.
</div>
{% endif %}

{% endblock %}
